<a href="https://colab.research.google.com/github/SedyaPrograms/Tutorial/blob/main/AI%20and%20machine%20learning/%D0%9F%D1%80%D0%B5%D0%B4%D1%81%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B2%D1%8B%D0%B4%D0%B0%D1%87%D0%B8_%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82%D0%BD%D0%BE%D0%B9_%D0%BA%D0%B0%D1%80%D1%82%D1%8B_%D0%92%D0%9A%D0%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [28]:
!wget -O AER_credit_card_data.csv https://raw.githubusercontent.com/SedyaPrograms/Tutorial/main/AI%20and%20machine%20learning/dataset/AER_credit_card_data.csv

--2023-04-06 14:27:17--  https://raw.githubusercontent.com/SedyaPrograms/Tutorial/main/AI%20and%20machine%20learning/dataset/AER_credit_card_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73250 (72K) [text/plain]
Saving to: ‘AER_credit_card_data.csv’

AER_credit_card_dat 100%[===================>]  71.53K  --.-KB/s    in 0.007s

2023-04-06 14:27:17 (9.48 MB/s) - ‘AER_credit_card_data.csv’ saved [73250/73250]

In [29]:
df = pd.read_csv('AER_credit_card_data.csv')


# Посмотреть на данные (Визуализация)
# Препроцессинг данных (обработка)
# Разделение на тренировочную и тестовую выборки
# Обучение модели 
# Проверка метрик на тестовой выборке

In [31]:
df.columns

Index(['card', 'reports', 'age', 'income', 'share', 'expenditure', 'owner',
       'selfemp', 'dependents', 'months', 'majorcards', 'active'],
      dtype='object')

"карточка", "отчеты", "возраст", "доход", "доля", "расходы", "владелец",
"самостоятельная оплата", "иждивенцы", "месяцы", "основные карточки", "активные"

In [32]:
df

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1314,yes,0,33.58333,4.5660,0.002146,7.333333,yes,no,0,94,1,19
1315,no,5,23.91667,3.1920,0.000376,0.000000,no,no,3,12,1,5
1316,yes,0,40.58333,4.6000,0.026513,101.298300,yes,no,2,1,1,2
1317,yes,0,32.83333,3.7000,0.008999,26.996670,no,yes,0,60,1,7
1318,yes,0,48.25000,3.7000,0.111619,344.157500,yes,no,2,2,1,0